@use '../styles/variables.scss' as v;

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 11px;
  font-weight: 800;
  border: 1px solid v.$border;
}

.high {
  background: rgba(252, 165, 165, 0.12);
}

.medium {
  background: rgba(253, 230, 138, 0.12);
}

.low {
  background: rgba(167, 243, 208, 0.12);
}
